<h1>Flights#show</h1>

<div class="container panel panel-default">
<h2> <%= @flight.flightName %></h2>
<ul>
  <li><%= @flight.flight_id %></li>
  <li><%= @flight.scheduleDate %></li>
  <li><%= @flight.flightDirection %></li>
  <li><%= @flight.flightNumber %></li>
  <li><%= @flight.flightName %></li>
  <li><%= @flight.prefixIATA %></li>
  <li><%= @flight.prefixICAO %></li>
  <li><%= @flight.scheduleTime %></li>
  <li><%= @flight.serviceType %></li>
  <li><%= @flight.mainFlight %></li>
  <li><%= @flight.codeshares %></li>
  <li><%= @flight.estimatedLandingTime %></li>
  <li><%= @flight.actualLandingTime %></li>
  <li><%= @flight.publicOffBlockTime %></li>
  <li><%= @flight.terminal %></li>
  <li><%= @flight.gate %></li>
  <li><%= @flight.expectedTimeOnBelt %></li>
  <li><%= @flight.transferPositions %></li>
  <li><%= @flight.aircraftTypemain %></li>
  <li><%= @flight.aircraftTypesub %></li>
  <li><%= @flight.airlineCode %></li>
  <li><%= @flight.expectedTimeGateOpen %></li>
  <li><%= @flight.expectedTimeBoarding %></li>
  <li><%= @flight.expectedTimeGateClosing %></li>
  <li><%= @flight.schemaVersion %></li>
  <li><%= @flight.created_at %></li>
  <li><%= @flight.updated_at %></li>
  <li><%= @flight.flight_id %></li>
</ul>
<br>
<%= link_to "BACK", flights_path %>
</div>
